
/* Resetting default margin and padding */
body, table, td {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
  }
  th{
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: rgba(67, 204, 204, 0.685);
    text-align: center;
    
  }
  .table{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }
  /* Styling the table */
  table {
    /* width: 100%; */
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
    width: 80%;
    /* border-radius: 70px; */

  }
  
  /* Styling the table header */
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Styling the table body */
  tbody {
    background-color: #fff;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Alternating row colors */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  table:hover{
    box-shadow: 0 0 17px rgba(67, 204, 204, 0.562);

  }